{% extends 'templates/app.twig'%}

{% block content %}
<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Forgot password?</div>
                <div class="panel-body">
                    <form action="{{ path_for('auth.forgot') }}" method="post" autocomplete="off">
                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="We will send new password to this email" class="form-control" value="{{ old.email }}"/>
                            {% if errors.email %}
                            	<span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}