body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}